@charset "utf-8";

.service{
    max-width: 960px;
    margin: 0 auto;
    background-color: #eeeeee;
    padding: 60px 40px;
}

.title{
    color: #398072;
    font-size: 25px;
    text-align: center;
    margin-bottom: 60px;
}

.service>div{
    display: flex;
    justify-content: space-between;
}
.detail{
    width: 32%;
    background-color: white;
}
.service_wrapper{
    padding: 10px;
}
.detail h2{
    color: #398072;
    font-size: 20px;
    padding-left: 5px;
    margin-bottom: 10px;
    border-left: 8px solid #398072;
    line-height: 1.2;
}
.detail p{
    font-size: 15px;
    line-height: 1.5;
}
/* 400px以下で縦に並べる */
@media screen and (max-width:400px) {
    .service>div{
        flex-direction: column;
    }
    .detail{
        width: 100%;
        margin-bottom:25px ;
    }
    .service{
        padding:60px 13px ;
    }
    .detail p{
        font-size: 16px;
        line-height: 1.6;
    }

}
