@charset "UTF-8";

body{
    background-color: #E8D9BF;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 7.6%;
    padding-left: 2.8%;
    position: absolute;
    width: 100%;
}
.header_nav-list{
    display: flex;
    gap: 77px;
}
.logo{
    width: 227px;
}
.header_nav-item{
    color: #ffffff;
    font-weight: bold;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;;
}

.container{
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 10px;
}
.main_wrap{
    text-align: center;
    margin: 106px 0 100px;
}
.main_intro{
    font-size: 30px;
}
.main_heading{
    font-size: 82px;
    line-height: 1.17;
    letter-spacing: 0.1em;
    padding: 55px 0 45px;
    white-space: pre-line;
}
.main_text{
    font-size: 23px;
    line-height: 1.65;
    letter-spacing: 0.1em;
    white-space: pre-line;
}

#about{
    display: flex;
    align-items: center;
}
.about_img{
    width: 50%;
}
.about_img img{
    border-bottom-right-radius: 82px;
}
.about_wrap{
    width: 50%;
    padding-left: 85px;
}
.section_title{
    height: 55px;
    width: auto;
}
.about_heading{
    font-size: 41px;
    line-height: 1.38;
    margin: 60px 0 30px;
    white-space: pre-line;
}
.about_text{
    font-size: 16px;
    line-height: 1.62;
}
#menu{
    padding: 108px 0 100px;
}
#menu h3{
    text-align: center;
    padding-bottom: 50px;
}
.menu_container{
    display: flex;
    justify-content: space-between;
}
.menu_container li{
    width: 30%;
}
.menu_img{
    border-top-right-radius: 42px;
}
.menu_wrap{
    position: relative;
}
.menu_title_absolute{
    font-size: 38px;
    line-height: 0.57;
    position: absolute;
    top: 196px;
    left: 10px;
    color: #D30202;
}
.menu_text{
    font-size: 17px;
    line-height: 1.47;
    padding-top: 43px;
}

#gallery{
    margin-bottom: 70px;
}
#gallery h3{
    text-align: center;
    padding-bottom: 25px;
}
.carousel{
    display: flex;
}
.carousel li{
    width: 20%;
}

#event h3{
    text-align: center;
    margin-bottom: 40px;
}
.event_wrap{
    height: 120px;
    padding: 33px 0 42px;
    border: #4F260B 4px solid;
    background-color: #ffffff;
}
.event_wrap li{
    display: flex;
    font-size: 23px;
    line-height: 1.95;
    max-width: 680px;
    margin: 0 auto;
}

.event_wrap li p{
    text-decoration: underline #4F260B 1px;
    padding-left: 5.8%;
}
#access{
    line-height: 0;
}
#access h3{
    text-align: center;
    margin: 80px 0 42px;
}
iframe{
    width: 100%;
    height: 471px;
    filter: grayscale(100%) invert(92%) contrast(83%);
}

footer{
    background-color: #ffffff;
    padding-top: 80px;
}
.footer_container{
    display: flex;
    padding-left: 23.9%;
}
.cafe_logo{
    width: 226px;
    margin-right: 3.48%;
}

.address li{
    font-size: 20px;
    line-height: 1.95;
    color: #000000;
}
.copy{
    padding: 75px 0 80px;
    text-align: center;
    font-size: 16px;
    color: #000000;
}
.toTop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 125px;
}