@charset "UTF-8";

.background{
    background-image: url("../images/background.png"); 
    background-repeat: repeat; 
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.header_inner{
    display: flex;
    justify-content: space-between;
    padding-right: 7.8%;
    padding-left: 6.2%;
    margin-top: 77px;
    width: 100%;
}
.header_nav_list{
    display: flex;
    gap: 55px;
}
.logo{
    width: 110px;
    position: fixed;
    top: 77px;
    left: 4.2%;
    z-index: 200;
}
.header_nav_item{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 17px;
}

/* メインビジュアル */
.main-visual{
    position: relative;
    width: 1065px;
    height: 1045px;
    left: 11.1%;
    margin-top: -30px; 
    max-width: 1021px;
}
/* 順番１ */
.tree01_wrap1{
    position: absolute;
    width: 74%;
    top: 26%;
    left: 4.1%;
}
.tree01_wrap2{
    position: absolute;
    width: 21%;
    top: 57%;
    left: 8.9%;
}

/* 順番2 */
.tree02_wrap4{
    position: absolute;
    width: 100%;
    top: 0%;
    left: 3.5%;
}
.tree02_wrap5{
    position: absolute;
    width: 12.5%;
    top: 14.8%;
    left: 39%;
}

/* 順番3_ゆらゆら葉っぱ */

.leaf_p_01{
    position: absolute;
    top: 5%;
    left: 24.8%;
    transform: rotate(45deg);
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.25));
}
.leaf_p_02{
    position: absolute;
    top: 42.5%;
    left: 0%;
    transform: rotate(175deg);
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.25));
}
.leaf_p_03{
    position: absolute;
    top: 36.1%;
    left: 61.6%;
    transform: rotate(315deg);
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.25));
}
.leaf_04{
    position: absolute;
    top: 34.3%;
    left: -2%;
    transform: rotate(45deg);
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.25));
}
.leaf_05{
    position: absolute;
    top: 60.5%;
    left: 47.5%;
    transform: rotate(315deg);
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.25));
}
.leaf_06{
    position: absolute;
    top: 44%;
    left: 91.9%;
    width: 13%;
    transform: rotate(315deg);
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.25));
}
.leaf_07{
    position: absolute;
    top: 20.7%;
    left: 22.7%;
    transform: rotate(315deg);
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.25));
}
.leaf_08{
    position: absolute;
    top: 54.7%;
    left: 16.3%;
    transform: rotate(45deg);
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.25));
}
.leaf_09{
    position: absolute;
    top: 74.1%;
    left: 58%;
    transform: rotate(50deg);
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.25));
}
.leaf_10{
    position: absolute;
    top: 42.6%;
    left: 51.2%;
    transform: rotate(45deg);
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.25));
}
.leaf_11{
    position: absolute;
    top: 16.4%;
    left: 56.7%;
    transform: rotate(304deg);
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.25));
}
.main_title{
    width: 36%;
    position: absolute;
    top: 70%;
    left: 54.2%;
    transform: rotate(-15deg);
}
.scrolldown{
    position:absolute;
	top:85.1%;
	right:5.7%;
}
.scrolldown span{
    position: absolute;
	left: -5px;
	bottom: 85px;
    transform: rotate(-90deg);
}
.scrolldown:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: -5px;
    /* width: 1px;
    height: 10px;
    background: #353B3F;
    transform: skewX(-31deg); */
} 

/* consept */
.consept{ 
    width: 21.8%;
    height: 100%;
    margin-left: 70.4%;
    margin-top: 26.3vh;
    
}
.consept_wrap{
    text-align: center;
    margin-bottom: 162px;
}
.consept_title{
    font-size: 25px;
    letter-spacing: 0.075em;
    margin-bottom: 10.3%;
}
.consept_title span{
    font-size: 77%;
    font-family: "Yu Mincho", "YuMincho", "Hiragino Mincho ProN", "MS PMincho", serif;;
}
.consept_wrap p{
    text-align: left;
    font-size: 17px;
    line-height: 2.2;
    letter-spacing: 0.025em;
    margin-bottom: 8.2%;

}
/* about ボタン */
.btn_triangle{
    text-align: center;
    max-width: 350px;
    height: 80px;
    border: #353B3F solid 1px;
    border-radius: 9999px;  
    cursor: pointer;
    position: relative;
    margin: 0 auto;
}
.triangle_icon{
    width: 20px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.btn_triangle_text{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    letter-spacing: 0.1em;
    font-size: 25px;
    line-height: 0.8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn_triangle span{
    font-size: 14px;
    font-family: 'TsukuARdGothic-Regular',sans-serif;
}

/* Service */
.section_title_service{
    position: relative;
    margin: auto;
    width: 344px;
    height: 58px;
    margin-top: 252px;
    margin-bottom: 82px;
}
.section_title{
    font-size: 42px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    letter-spacing: 0.2em;
    text-align: left;
}
.section_title span{
    color: #8AC1B9;
}
.section_subtitle{
    font-size: 17px;
    text-align: right;
    align-items: end;
}
.section_title_service div{
    position: absolute;
    top: 100%;
    left: 55%;
    width: 80px; 
    height: 2px; 
    background-color: #353B3F; 
    transform-origin: 0% 0%;
    transform: rotate(-45deg); 
}

.service_container{
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 1415px;
    height: 600px;
    padding: 0 50px;
}
.service_container li{ 
    width: 31.4%;
    height: 100%;
    border: 2px solid #666666;
    border-radius: 0 50px 0 50px;
    position: relative;
}
.coner_icon{
    width: 31.5%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
}
.service_subtitle{
    text-align: center;
    margin: 12% 0 12%;
}
.service_subtitle h3{
    font-size: 28px;
    letter-spacing: 0.1em;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    margin-bottom: 1.5%;
}
.service_subtitle p{
    font-size: 16px;   
}
.servece_tool_icon{
    width: 35.5%;
    margin: auto;
}
.service_tool{
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.1em;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    margin: 12% 0 12%;
}
.service_tool span{
    font-family: 'TsukuARdGothic-Regular',sans-serif;
}
.service_content{
    font-size: 17px;
    padding: 0 10.6% 0 10.6%;
    letter-spacing: 0.025em;
    line-height: 1.7;
}
.servece_icon_other{
    width: 40.4%;
    margin: auto;
}
/* works */
.works_container{
    display: flex;
    margin-top: 257px;
    height: 440px;
    max-width: 1920px;
    position: relative;
    margin-bottom: 113px;
}
.works_background{
    width: 65%;
    margin: 0 0 0 auto;
    position: absolute;
    right: 0;
    bottom: -10%;
    z-index: -1;
}
.works_title_area{
    width: 38.5%;
}
.section_title_works{
    position: relative;
    width: 230px;
    height: 59px;
    margin: 191px 146px 191px 360px;
}
.section_title_works div{
    position: absolute;
    top: 100%;
    left: 59%;
    width: 80px; 
    height: 2px; 
    background-color: #353B3F; 
    transform-origin: 0% 0%;
    transform: rotate(-45deg); 
}
.works_wrap{
    display: flex;
    flex-wrap: nowrap;
    width: 61.4%;
}
.works_1{
    position: relative;
    margin-right: 30px;
}
.circle_1{
    width: 440px;
    height: 440px;
    border-radius: 50%;
    background-color: #F2EBEC;
}
.works_img_1{
    width: 346px;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}
.works_2{
    position: relative;
    margin-right: 30px;
}
.circle_2{
    width: 440px;
    height: 440px;
    border-radius: 50%;
    background-color: #938279;
}
/* .works_3{
    position: relative;
    margin-right: 30px;
}
.circle_3{
    width: 440px;
    height: 440px;
    border-radius: 50%;
    background-color: #F4D798;
}
.works_img_2{
    width: 280px;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
} */
/* .works_7{
    position: relative;
    margin-right: 30px;
}
.circle_7{
    width: 440px;
    height: 440px;
    border-radius: 50%;
    background-color: #F2E9DA;
}
.works_9{
    position: relative;
    margin-right: 30px;
}
.circle_9{
    width: 440px;
    height: 440px;
    border-radius: 50%;
    background-color: #72A09A;
}
.works_8{
    position: relative;
    margin-right: 30px;
}
.circle_8{
    width: 440px;
    height: 440px;
    border-radius: 50%;
    background-color: #B3C9C3;
} */

/* works ボタン ホバーで色変換・▶️回転 */
.btn_triangle_text_w{
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    letter-spacing: 0.1em;
    font-size: 21px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#contact{
    position: relative;
    z-index: 101;
}
.contact_container{
    position: absolute;
    top: 17%;
    display: flex;
    margin: 342px 0 65px;
}
.section_title_contact{
    position: relative;
    width: 332px;
    height: 59px;
    margin: 0 90px 0 360px;
}
.section_title_contact div{
    position: absolute;
    top: 100%;
    left: 63%;
    width: 80px; 
    height: 2px; 
    background-color: #353B3F; 
    transform-origin: 0% 0%;
    transform: rotate(-45deg); 
}
.contact_content{
    font-size: 17px;
    line-height: 1.7;
    letter-spacing: 0.025em;
}
/* contact ボタン ホバーで色変換・▶️回転 */
.btn_triangle_c{
    display: flex;
    text-align: center;
    width: 350px;
    height: 80px;
    border: #353B3F solid 1px;
    border-radius: 9999px;  
    cursor: pointer;
    position: absolute;
    z-index: 100;
    margin-top: 481px;
    left: 50%;
    transform: translateX(-50%)
    
}
.btn_triangle_c a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_triangle_c span{
    font-size: 14px;
    font-family: 'TsukuARdGothic-Regular',sans-serif;
} 



html{
    scroll-behavior: smooth;
}
.toTop{
    position: fixed;
    bottom: 60px;
    right: 15px;
    z-index: 200;
}
.toTop img{
    width: 77px;
    padding-bottom: 20px;
}
.toTop_text{
    font-size: 16px;
    letter-spacing: 0.1em;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    transform: rotate(-90deg);
}


.footer_background_area{
    position: relative;
}
.footer_background{
    width: 100%;
    height: 1138px; 
    background-image: url('/images/footer_5.png'),url('/images/contact_back@0.5x.png');
    background-position: right bottom, left bottom; 
    background-repeat: no-repeat, no-repeat; 
    background-size: 92.2% 61%,99.8% 100%; 
    bottom: 0;
    margin-top: 140px;
    z-index: 1;
}

.footer_back_move_1{
    position: absolute;
    right: 13.6%;
    top: 46.1%;
    width: 9%;
    z-index: 5;
}
.footer_back_move_2{
    position: absolute;
    right: 27.3%;
    top: 61%;
    width: 9%;
    z-index: 6;
}
.footer_container{
    position: absolute;
    max-width: 1920px;
    bottom: 10.2%;
    margin-left: 16.4%;
    margin-top: 510px;
    z-index: 100;
}
.footer_logo{
    width: 110px;
    left: 16.6%;
    margin-bottom: 38px;
}
.footer_nav_list{
    display: flex;
    gap: 53px;
}
.footer_nav_item{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 16px;
}
.copy{
    position: absolute;
    top: 94.5%;
    left: 78.3%;
    font-size: 13px;
    letter-spacing: 0.1em;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
} 